* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
ul,
ol {
  list-style: none;
}
header {
  background-color: #0020f4;
  width: 1920px;
  height: 387.56px;
}
li {
  background-color: #0020f4;
  display: inline-block;
}
header img {
  width: 115px;
  height: 65px;
  margin-top: 40px;
  margin-right: 488px;
  margin-bottom: 282.56px;
  margin-left: 240px;
}
nav header ul {
  display: inline-block;
  vertical-align: top;
}
nav {
  display: inline-block;
  vertical-align: bottom;
}
.mtavari {
  width: 70px;
  height: 18px;
  margin-top: 70px;
  margin-right: 18px;
  margin-bottom: 305.56px;
}
.chven {
  width: 95px;
  height: 18px;
  margin-top: 64px;
  margin-left: 18px;
  margin-bottom: 305.56px;
}
.servisebi {
  width: 64px;
  height: 18px;
  margin-top: 64px;
  margin-left: 18px;
  margin-bottom: 305.56px;
}
.proeqtebi {
  width: 91px;
  height: 18px;
  margin-top: 64px;
  margin-left: 18px;
  margin-bottom: 305.56px;
}
.partniorebi {
  width: 113px;
  height: 18px;
  margin-top: 64px;
  margin-left: 18px;
  margin-bottom: 305.56px;
}
.kontaqti {
  width: 81px;
  height: 19px;
  margin-top: 64px;
  margin-left: 18px;
  margin-bottom: 305.56px;
  background-color: #ffffff;
  border-radius: 28px;
  width: 160px;
  height: 55px;
  padding-top: 18px;
  padding-right: 36px;
  padding-bottom: 18px;
  padding-left: 36px;
  text-align: center;
}
.kontaqti a {
  color: #171717;
}

.section-img {
  width: 1195px;
  height: 600px;
  margin-top: -110px;
  margin-left: 363px;
  margin-left: 362px;
}
h2 {
  color: #171717;
  margin-left: 362px;
  margin-top: 30px;
  font-size: 28px;
  width: 714px;
  height: 33px;
}
div img {
  width: 219px;
  height: 219px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 20px;
}
.div-img-first {
  margin-left: 362px;
}
p {
  font-size: 16px;
  width: 951px;
  height: 177px;
  margin-left: 484.5px;
}
.para-one {
  margin-top: 60px;
}
.para-two {
  margin-top: 18px;
  height: 281px;
}
.para-three {
  margin-top: 18px;
  height: 281px;
}
.para-four {
  margin-top: 18px;
  height: 151px;
}
.para-five {
  margin-top: 58px;
  background-color: #0020f4;
  width: 341px;
  height: 55px;
  margin-left: 791px;
  border-radius: 28px;
  color: #ffffff;
  text-align: center;
  padding: 18px 77px 18px 57px;
}
footer {
  background-color: #0020f4;
  width: 1920px;
  height: 1080px;
  margin-top: 198px;
}
h4 {
  font-size: 32px;
  color: #ffffff;
  width: 162px;
  height: 38px;
  margin-left: 240px;
}
footer p {
  font-size: 16px;
  color: #ffffff;
  width: 463px;
  height: 99px;
  margin-left: 240px;
  margin-top: 30px;
}
iframe {
  width: 463px;
  height: 197px;
  border-radius: 15pxS;
  margin-top: 58px;
  margin-left: 250px;
}
.group-one {
  background-color: #ffffff;
  width: 26px;
  height: 26px;
  margin-left: 262px;
  margin-top: 92px;
  border-radius: 26px;
}
footer div img .number .email .group-one .group-two {
  display: inline-block;
  vertical-align: top;
}
.number {
  color: #ffffff;
  width: 178px;
  height: 26px;
  margin-right: 26px;
  margin-left: 20px;
  margin-top: 97px;
  display: inline-block;
  vertical-align: top;
}

.group-two {
  background-color: #ffffff;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  margin-top: 92px;
}
.email {
  width: 216px;
  height: 26px;
  color: #ffffff;
  margin-top: 92px;
  margin-left: 15px;
  vertical-align: top;
  display: inline-block;
}
footer .last-p {
  background-color: #0a22f4;
  width: 209px;
  height: 19px;
  margin-left: 240px;
  margin-top: 184px;
  margin-right: 400px;
  display: inline-block;
  vertical-align: top;
}
footer .footer-p {
  width: 106px;
  height: 16px;
  color: #ffffff;
  background-color: #0a22f4;
  font-size: 13px;
  vertical-align: bottom;
  display: inline-block;
  margin-left: -23px;
}

div .heart {
  width: 26px;
  height: 26px;
  vertical-align: bottom;
  margin-bottom: 55px;
}
div .logo-two {
  width: 121px;
  height: 35px;
  margin-right: 35px;
  margin-top: 163px;
}
footer div {
  margin-bottom: 32px;
}
